.vehicle-container {
    background-image: url(../../images/show-bike-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .vehicle-div{
    gap: 1rem;
    width: 600px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: rgba(148, 146, 146, 0.575);
    font-size: 1.2rem;
    font-weight: bold;
    font-style: italic;
    color: rgba(35, 52, 52, 0.922);
    img{
      height: 300px;
      width: 410px;
      object-fit: cover;
    }
    button{
        margin-block: 10px;
        background-color: rgb(33, 33, 239);
        border: none;
        padding: 10px 20px;
        border-radius: 15px;
        font-size: 1rem;
    }
  }
  .logout-btn{
    border: none;
    padding: 10px 25px;
    border-radius: 15px;
    background-color: rgb(154, 154, 187);
    cursor: pointer;
  }