.vehicle-booking-container{
    background-image: url(../../../images/book-bike.jpg);
button{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    margin-block: 20px;
}
}
.booking-details{
    margin-inline: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.764);
    p{
        font-size: 1.1rem;
        font-weight: 500;
        padding-top: 5px;
    }
}
.delete-bookings{
    margin-block: 16px;
    margin-inline: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: 1.1rem;
    background-color: rgba(128, 128, 128, 0.764);
    p{
        font-size: 1.2rem;
        font-style: italic;
        font-weight: bold;
    }
}

.booking-details-div{
    margin-block: 16px;
}