.modal-inner-container{
    padding: 0;
    margin: 0;
    position: absolute;
    height: 100%;
    z-index: 6;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.364);
}
.modal-error-heading{
    font-size: 1.8rem;
    font-weight: bold;
    color: rgba(210, 45, 45, 0.797);
    margin: 0;

}
.modal-error-text{
    font-size: 1.2rem;
    font-weight: 500;
}
.modal-error-box{
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 300px;
    background-color: rgba(128, 128, 128, 0.963);
    border-radius: 10px;
    position: absolute;
    top: 35%;
    left: 35%;
}